/*SEMANTICS:
	"plant" refers to action of planting;
	"crop" refers to A and B;
	"grow" refers to action of committing the crop (having chosen to plant it);
*/


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: top;
	font-family: Verdana, sans-serif;

}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button, #grow {
	background-color: rgb(238, 200, 48);
	color: black;
	border: 2px solid white;
	border-radius: 3px;
	width: 100px;
	padding: 5px 10px;
	font-size: 1em;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>> New CSS rules for V1 Master <<<<<<<<<<<<<<<<<<<<<<<<<*/

/*Universal Rules, from Styleguide >>>>>>>>>>>>>>>*/
section {
	border: 1px solid #eae9e6; 
	padding: 10px; 
	margin: 10px 0 10px 0;
}

img {
	margin: 5px 0 0 5px; 
	padding: 5px; 
	background-color: #fff; 
	border: 1px solid #ddd; 
	box-shadow: 0 0 2px 1px #ddd;
}
		
.box-shadow {
	margin: 5px 0 0 5px; 
	padding: 5px; 
	background-color: #fff; 
	border: 1px solid #ddd; 
	box-shadow: 0 0 2px 1px #ddd;} /*same as img style rule*/
		
h1 {font-family: Georgia, Times, serif; color: #565245; font-size: 2em;}
h2 {color: #3f3c30; font-family: Georgia, Times, serif; font-size: 1.7em;}
h3 {font-family: Georgia, Times, serif; font-weight: 400; font-size: 1.5em; color: #820000;} /*Inspired by h3 in #news div of stanford.edu */
h4 {color: #3f3c30; font-family: Georgia, Times, serif; font-size: 1.2em; font-weight: bold;}
h5 {text-transform: uppercase; font-size: 1em; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: 400; color: #820000;}
h6 {color: #3f3c30; font-family: Georgia, Times,sans-serif; font-size: .75em; margin: 0; line-height: 17px; letter-spacing: normal; font-weight: normal; padding: .5em;} /*For subtitles and other emphasized paragraph text */
p {color: #565347; font-family: Verdana, Helvetica,sans-serif; font-size: 1em; margin: 0; line-height: 14px; letter-spacing: normal; padding: .5em;} /*color: #585754*/

.Acolor {color: #820000;} /*Same as Stanford red */
.Bcolor {color: #3811c9;} /*Blue RGB(56,17,201)*/

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

header {
	background-color: #820000;
	color: white;
	width: auto;
	height: 80px;
	padding: 5px;
}

nav {
	position: relative;
}

nav a {
	color: white;
	font-size: .75em;
	position: relative;
	top: 10px;
	left: 20px;
	text-decoration: none;
}

nav a:hover {
	text-decoration: underline;
}


#instructions_dropdown { /*Unify this selector with .instructions */
	display: none;
	color: black;
	background-color: white;
	padding: 5px;
	font-size: .8em;
	margin: 5px;
}


#instructions_dropdown a {
	font-size: 10px;
	text-decoration: underline;
	color: blue;
}


header > h1 {
	color: white;
	text-align: center;
	font-weight: 500;
	margin: 5px;
}

/* >>>>>>>>> Parent (.container) - excluding header, footer <<<<<< */

.container {
	background-color: white;
	display: block;
	min-height: 600px;
	min-width: 1200px;
	overflow: hidden;
	text-align: center; 
	position: relative;
	/*Relative means it's now the point of reference coordinate system*/
	/* "overflow" property specifies what happens if content
	overflows element box. */
	}



/* >>>>>>>>>>>>>>>>> Givens (Crop Information) <<<<<<<<<<< */

#givens {
	display: inline-block;
	width: 25%;
	min-height: 100px;
	float: left;
	text-align: center;

}

table {
	background-image: url("images/table_background.jpg");
	background-repeat: no-repeat;
	background-size: 250px 400px;
	background-position: right;
	height: 400px;
	width: 400px;
}

table, thead, td {
	border: 1px solid black;
	padding: 5px;
}

table td {
	text-align: center;
}

th {
}

/*>>>>>>>>>>>>>>>>>>>>>>> Turn Counter >>>>>>>>>>>>>>*/

#turns {
	display: block;
	margin-top: 40px;
	width: 100%;
	height: auto;
	text-align: center;
}

#turns_counter {
	margin: 5px;
	background-color: #fff;
	height: 2em;
	border: 5px solid #3f3c30;

}


/* >>>>>>>>>>>>>>>>> Choice Screen <<<<<<<<<<<<<<< */

#choice_screen {
	display: inline-block;
	text-align: center;
	background-color: white;
	min-height: 600px;
	width: 45%;
	float: left;
	position: relative;
}

#farm { /*using default_background_medium.png. formerly background image within choice_screen*/
	margin-left: auto;
	margin-right: auto;
	width: 690px;
	z-index: 1;
	}
	/*NOTE: medium-sized default image width =600px originally! Original default image width=700 */


.hidden {
	display: none;
}

.displayWeather { /*Class added to show weather outcome*/
	position: absolute;
	top: 0;
	left: 0;
	display: inline;
	z-index: 3;
}

#seedpacketA {
	height: 150px;
	width: 150px;
	background: none;
	border: none;
	position: absolute;
	top: 5em;
	left: 15%;
	box-shadow: none;
	z-index: 2;
}

#seedpacketB {
	height: 150px;
	width: 150px;
	background: none;
	border: none;
	position: absolute;
	top: 5em;
	right: 15%;
	box-shadow: none;
	z-index: 2;
}


.plant {
	margin: 0px 25px;
	position: absolute;
	top: 15em;
}

button[name="PlantA"] {
	left: 15%;
}

button[name="PlantB"] {
	right: 13%;
}

.plant:hover {
	text-decoration: underline;
}

.select { /*For when a Crop has been selected */
	border: 5px solid white;
}

#grow {
	display: block;
	position: absolute;
	top: 24em;
	left: 50%;
	width: 150px;
	margin: -75px;
	text-align: center;
	opacity: 0.6;

}

#grow:hover {
	text-decoration: underline;
}

#grow:active {
	/*Make button look "pushed"*/
}

.highlight { /* Highlight class specifically for #grow button */
	padding: 7px !important;
	opacity: 1 !important;
	border: 6px solid white !important;
}

/* >>>>>>>>>>>>>>>>>> Dialog boxes <<<<<<<<<<<<<< */
.instructions {
	background-color: white;
	text-align: center;
	border: 1px solid black;
}

.dialog > .instructions { /* WORK IN PROGRESS */
	z-index: 4;
	width: 70%;
	height: 50%;
}

/* >>>>>>>>>>>>>>Points Counter <<<<<<<<<<<<<<< */

#points {
	display: inline-block;
	padding: 10px;
	width: 25%;
	min-height: 300px;
}

#dollars_counter {
	display: inline-block;
	text-align: center;
	margin-top: 10px;
}

#coin {
	float: left;
}

#dollars {
	background-color: #3f3c30;
	height: 2em;
}

#dollars h4 {
	color: white;
	padding: 5px;
	text-align: left;
}



/* >>>>>>>>>>>>>>>>> Footer <<<<<<<<<<<<<<< */

footer {
	width: 100%;
	text-align: center;
	background-image: url(images/grains2.jpeg);
	background-repeat: repeat-x;
	height: 100px;
}


