/*SEMANTICS:
	"plant" refers to action of planting;
	"crop" refers to A and B;
	"grow" refers to action of committing the crop (having chosen to plant it);
*/


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: top;
	font-family: Verdana, sans-serif;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>> New CSS rules for V1 Master <<<<<<<<<<<<<<<<<<<<<<<<<*/

/*Universal Rules, from Styleguide >>>>>>>>>>>>>>>*/
section {
	border: 1px solid #eae9e6; 
	border-radius: 5px;
	padding: 10px; 
	margin: 10px;

}
		
.box-shadow { /*To create a frame around any object */
	margin: 5px; 
	padding: 5px; 
	background-color: #fff; 
	border: 1px solid #eae9e6; 
	box-shadow: 0 0 2px 1px #eae9e6;} 
		
		
h1 {font-family: Georgia, Times, serif; color: #565245; font-size: 24px;}
h2 {color: #3f3c30; font-family: Georgia, Times, serif; font-size: 20px;}
h3 {font-family: Georgia, Times, serif; font-weight: 400; font-size: 18px; color: #820000;} /*Inspired by h3 in #news div of stanford.edu */
h4 {color: #3f3c30; font-family: Georgia, Times, serif; font-size: 16px; font-weight: bold;}
h5 {text-transform: uppercase; font-size: 16px; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: 400; color: #820000;}
h6 {color: #3f3c30; font-family: Georgia, Times,sans-serif; font-size: 12px; margin: 0; line-height: 17px; letter-spacing: normal; font-weight: normal; padding: 3px;} /*For subtitles and other emphasized paragraph text */
p {color: #565347; font-family: Verdana, Helvetica,sans-serif; font-size: 10px; margin: 0; line-height: 14px; letter-spacing: normal; padding: 3px;} /*color: #585754*/

.Acolor {color: #820000;} /*Same as Stanford red */
.Bcolor {color: #3811c9;} /*Blue RGB(56,17,201)*/


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

header {
	background-color: #820000;
	color: white;
	width: 100%;
	height: 80px;
	padding: 5px;
}

nav {
	position: relative;
}

nav a {
	color: white;
	font-size: .75em;
	position: relative;
	top: 10px;
	left: 20px;
	text-decoration: none;
}

nav a:hover {
	text-decoration: underline;
}


#instructions_dropdown { /*Unify this selector with .instructions */
	display: none;
	color: black;
	background-color: white;
	padding: 5px;
	font-size: .8em;
	margin: 5px;
}


#instructions_dropdown a {
	font-size: 10px;
	text-decoration: underline;
	color: blue;
}


header > h1 {
	color: white;
	text-align: center;
	font-weight: 500;
	margin: 5px;
}

/* >>>>>>>>>>>>>>>>>>>>>>>> Wrapper (.container) - excludes footer and header <<<<<< */

#container {
	background-color: white;
	min-height: 600px;
	width: 1200px; /* This keeps the screen at a fixed width despite browser resizing */
	overflow: hidden;
	text-align: center; 
	position: relative;
	margin-left: auto;
	margin-right: auto;
	/*Relative means it's now the point of reference coordinate system*/
	/* "overflow" property specifies what happens if content
	overflows element box. */
	}

/* >>>>>>>>>>>>>>>>> Givens (Crop Information) <<<<<<<<<<< */

#givens {
	display: inline-block;
	max-width: 20%;
	min-height: 550px;
	text-align: center;
}

table {
	height: 300px;
	width: 230px;
	background-image: url("images/table_background.jpg");
	background-repeat: no-repeat;
	background-size: 220px 300px;
	background-position: right;
	border: 3px solid #3f3c30;	
	margin-right: auto;
	margin-left: auto;
}

thead {
	padding: 10px;
	border-bottom: 1px solid #3f3c30;
}

th {
	color: #3f3c30; 
	font-family: Georgia, Times, serif; 
	font-size: 16px; 
	font-weight: bold;
	padding: 5px 2px;
}

#empty {
	background-color: white;
}

td {
	text-align: center;
	vertical-align: middle;
	border-bottom: 3px solid #3f3c30;
	width: auto;
	color: #3f3c30; 
	font-family: Georgia, Times,sans-serif; 
	font-size: 15px; 
	margin: 0; 
	line-height: 17px; 
	letter-spacing: normal; 
	font-weight: normal; 
	padding: 2px;
}



td.Acolor, td.Bcolor {
	background-color: white;
	border-right: 1px solid #3f3c30;
	width: 70px;
	font-size: 16px;
	font-weight: bold;
}

td img {
	height: 60px;
	box-shadow: none;
	border: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
}



/*>>>>>>>>>>>>>>>>>>>>>>> Turn Counter >>>>>>>>>>>>>>*/

#turns {
	display: block;
	margin-top: 40px;
	width: auto;
	height: auto;
	text-align: center;
}

#turns_counter {
	margin: 5px;
	background-color: #fff;
	height: 2em;
	border: 5px solid #3f3c30;
}


/* >>>>>>>>>>>>>>>>> Choice Screen <<<<<<<<<<<<<<< */

#choice_screen {
	display: inline-block;
	text-align: center;
	background-color: white;
	min-height: auto;
	max-width: 48%;
	position: relative;
}

#farm { /*using default_background_medium.png. formerly background image within choice_screen*/
	width: 100%;
	z-index: 1;
	margin: 0 auto;
	padding: 0;
	}
	/*NOTE: medium-sized default image file width =600px! Original default image width=700 */


.hidden {
	display: none;
}

.displayWeather { /*Class added to show weather outcome*/
	position: absolute;
	top: 0;
	left: 0;
	display: inline;
	z-index: 3;
}


button.plant {
	background-color: #fff;
	border-radius: 3px;
	z-index: 2;
	width: 120px;
	height: 140px;
	text-align: center;

	-webkit-box-shadow:
    0 0 0 5px #ffcc33,
    0 0 0 8px #fff
  ;

  -moz-box-shadow:
   0 0 0 5px #ffcc33,
    0 0 0 8px #fff
  ;
  -o-box-shadow:
  0 0 0 5px #ffcc33,
    0 0 0 8px #fff
  ;
  box-shadow:
    0 0 0 5px #ffcc33,
    0 0 0 8px #fff
  ;

}

.plant img {
	display: block;
	width: 100px;
	height: 100px;
	margin-right: auto;
	margin-left: auto;
}

#cropA {
	position: absolute;
	left: 15%;
	top: 10%;
}

#cropB {
	position: absolute;
	right: 15%;
	top: 10%;
}

.plant:hover {
	border: 3px solid white;
	
	-webkit-box-shadow:
    0 0 0 6px #ffcc33,
    0 0 0 9px #fff,
    0 0 0 10px #3f3c30
  ;

  -moz-box-shadow:
  0 0 0 6px #ffcc33,
    0 0 0 9px #fff,
    0 0 0 10px #3f3c30
  ;
  -o-box-shadow:
 0 0 0 6px #ffcc33,
    0 0 0 9px #fff,
    0 0 0 10px #3f3c30
  ;
  box-shadow:
    0 0 0 6px #ffcc33,
    0 0 0 9px #fff,
    0 0 0 10px #3f3c30
  ;
}

.select { /*For when a Crop has been selected */
	font-weight: bold;
	-webkit-box-shadow:
    0 0 0 6px #ffcc33,
    0 0 0 10px #fff
  ;

  -moz-box-shadow:
    0 0 0 6px #ffcc33,
    0 0 0 10px #fff
  ;
  -o-box-shadow:
    0 0 0 6px #ffcc33,
    0 0 0 10px #fff
  ;
  box-shadow:
    0 0 0 6px #ffcc33,
    0 0 0 10px #fff
  ;
}

input#grow {
	display: inline-block;
	position: absolute;
	top: 60%;
	left: 50%;
	width: auto;
	margin: -75px;
	text-align: center;
	border-radius: 3px;
	padding: 5px 10px;
	font-size: 18px;
	/*-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);*/
    /*box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.4), 0 2px 2px rgba(0, 0, 0, 0.2);*/
}

.disabled { /*The following rules specify the disabled appearance of the #grow button, pre-crop choice*/
	opacity: 0.8;
	background-color: #eae9e6;
	color: #3f3c30;
	font-style: italic;
	font-weight: 300;

/*Multiple borders*/

	-webkit-box-shadow:
    0 0 0 2px #3f3c30,
    0 0 0 3px #eae9e6
    ;
  -moz-box-shadow:
    0 0 0 2px #3f3c30,
    0 0 0 3px #eae9e6
  ;
  -o-box-shadow:
    0 0 0 2px #3f3c30,
    0 0 0 3px #eae9e6
  ;
  box-shadow:
    0 0 0 2px #3f3c30,
    0 0 0 3px #eae9e6
  ;

}

.disabled:hover {
	-webkit-box-shadow:
    0 0 0 3px #3f3c30,
    0 0 0 4px #eae9e6
    ;
  -moz-box-shadow:
    0 0 0 3px #3f3c30,
    0 0 0 4px #eae9e6
  ;
  -o-box-shadow:
    0 0 0 3px #3f3c30,
    0 0 0 4px #eae9e6
  ;
  box-shadow:
    0 0 0 3px #3f3c30,
    0 0 0 4px #eae9e6
  ;
}

.highlight { /* Highlight class specifically for #grow button */
	opacity: 1;
	background-color: #fff;
	color: #3f3c30;
	font-weight: 500;

	/*Multiple borders*/

	-webkit-box-shadow:
    0 0 0 5px #ffcc33,
    0 0 0 8px #fff
  ;

  -moz-box-shadow:
   0 0 0 5px #ffcc33,
    0 0 0 8px #fff
  ;
  -o-box-shadow:
  0 0 0 5px #ffcc33,
    0 0 0 8px #fff
  ;
  box-shadow:
    0 0 0 5px #ffcc33,
    0 0 0 8px #fff
  ;
}


.highlight:hover {
	font-weight: bold;
	-webkit-box-shadow:
    0 0 0 6px #ffcc33,
    0 0 0 10px #fff
  ;

  -moz-box-shadow:
    0 0 0 6px #ffcc33,
    0 0 0 10px #fff
  ;
  -o-box-shadow:
    0 0 0 6px #ffcc33,
    0 0 0 10px #fff
  ;
  box-shadow:
    0 0 0 6px #ffcc33,
    0 0 0 10px #fff
  ;
	
}



/* >>>>>>>>>>>>>>>>>> Dialog boxes <<<<<<<<<<<<<< */
.instructions {
	background-color: white;
	text-align: center;
	border: 1px solid black;
}

.dialog > .instructions { /* WORK IN PROGRESS */
	z-index: 4;
	width: 70%;
	height: 50%;
}

/* >>>>>>>>>>>>>>Points Counter <<<<<<<<<<<<<<< */

#score {
	display: inline-block;
	padding: 10px;
	min-width: 20%;
	max-width: 25%;
	min-height: 550px;
	background-image: url('images/coinstack.png');
	background-size: 230px;
	background-repeat: no-repeat;
	background-position: center;
	position: relative; /* #score is the coordinate reference system for #points_fill*/
}


#points_flag {
	background-image: url("images/points_flag.png");
	background-repeat: no-repeat;
	width: 100px;
	height: 40px;
	margin-right: 0;
	display: inline-block;
	vertical-align: middle;
	padding: 0;
	z-index: 3;
	position: absolute; /*Use jQuery to change the absolute height of the points flag along with points_bar*/
	right: 60%;
	bottom: 15%;
}

#point_count {
	display: inline-block;
}

#point_count h5 {
	color: #ffcc33;
	padding-top: .5em;
}

#points_bar {
	width: 2em;
	height: 400px;
	background-color: #fff;
	margin: 1em 0 1em 0;
	border: 5px solid #3f3c30;
	overflow: hidden;
	display: inline-block;
	position: absolute;
	right: 50%;
	z-index: 1;
} 

#points_fill {
	width: inherit;
	height: 5px;
	background-color: #ffcc33;
	position: absolute;
	bottom: 0;
	margin: 0;
	z-index: 2;
}


#dollars {
	background-color: #3f3c30;
	height: 15%;
	width: 100%;
	padding: 0px;
	margin: 10px 0 0 0;
	position: absolute;
	bottom: 0;
	left: 0;
}

#dollars h4 { /* "Real Dollars Earned" */
 	color: white;
	display: inline-block;
	margin: 10px 0 0 0;
}

span#dollars_counter { /* Contained in <span>. Numerical counter within #dollars div. Target for bonuses */
	text-align: right;
	background-color: white;
	border: 5px solid #ffcc33;
	padding: 2px 30px;
	display: inline-block;
	margin: 5px 0;
}



/* >>>>>>>>>>>>>>>>> Footer <<<<<<<<<<<<<<< */

footer {
	width: 100%;
	text-align: center;
	background-image: url(images/grains2.jpeg);
	background-repeat: repeat-x;
	height: 100px;
}


