
	/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: top;
	font-family: Georgia, serif;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end of Meyer reset */

section {
	border-radius: 5px;
	padding: 10px;
	margin: 5px;

}

.box-shadow { /*To create a frame around any object */
	margin: 5px;
	padding: 5px;
	background-color: #fff;
	border: 1px solid #eae9e6;
	box-shadow: 0 0 2px 1px #eae9e6;}


h1 {font-family: Georgia, Times, serif; color: #565245; font-size: 30px; text-align: center;}
h2 {color: #3f3c30; font-family: Georgia, Times, serif; font-size: 20px; text-align: center;}
h3 {font-family: Georgia, Times, serif; font-weight: 400; font-size: 18px; color: #820000;} /*Inspired by h3 in #news div of stanford.edu */
h4 {color: #3f3c30; font-family: Georgia, Times, serif; font-size: 16px; font-weight: bold;}
h5 {font-size: 16px; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: 400; color: #820000; text-align: center;}
h6 {color: #3f3c30; font-family: Georgia, Times,sans-serif; font-size: 12px; margin: 0; line-height: 17px; letter-spacing: normal; font-weight: normal; padding: 3px;} /*For subtitles and other emphasized paragraph text */

p {color: #565347; font-family: Georgia, Times, serif; font-size: 12px; margin: 0; line-height: 14px; letter-spacing: normal; padding: 3px;} /*color: #585754*/


.Acolor {
	color: #820000;
	} /*Same as Stanford red */

.Bcolor {
	color: #3811c9;
	} /*Blue RGB(56,17,201)*/


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

header {
	background-color: #fff;
	color: white;
	height: auto;
	padding: 20px 0 10px 0;
	vertical-align: middle;
}

header h1 {
	text-align: center;
	font-weight: 500;
	padding: 10px;
}

nav {
	display: block;
	text-align: center;
	width: 100%;
	padding: 5px 0;
	background-color: #820000;
}

nav h5 {
	color: white;
	padding: 10px 0;
}

footer {
	width: 100%;
	text-align: center;
	background-image: url(images/grains2.jpeg);
	background-repeat: repeat-x;
	height: 100px;
	vertical-align: middle;
}

footer img {
	margin-top: 30px;
}

/* For documentation.html specifically */

p {font-size: 16px; color: black; font-family: "Times New Roman";}
.code {color:black; font-family: "Courier"; background-color: #e6e6ff; font-size: 14px;}
.comment {color:gray; font-family: "Courier"; font-size: 14px;}
.note {color: red; font-size: 14px;}
.console {color: purple; font-family: "Courier"; background-color: #e6e6e6; font-size: 14px;}
.indent {padding-left: 25px;}
ul li {margin-left: 45px; list-style-type: circle; font-size: 16px; line-height: 1.2em; padding-bottom: 5px;}
#js {text-align: left; margin: 10px;}
nav li {color: white; display: inline-block;}
#nav a {color: white; text-decoration: none;}
#nav a:hover {color: white; text-decoration: underline;}
a {text-decoration: none; color: blue;}
.back {font-size: 10px; color: blue; font-family: "Verdana"; display: block; margin: 5px;}
footer {background-image: none;}
.example {list-style-type: none;}
/*For example in #objectnote*/
#objectnote {background-color: #e6e6e6;}
.line1 {color: green; line-height: 1.2em;}
.line2 {color: blue; padding-left: 10px; line-height: 1.2em;}
.line3 {color: purple; padding-left: 20px; line-height: 1.2em;}

